@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,600,500,700);
body {
  font-family: "Poppins";
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

.summary-wrapper {
  z-index: 2;
  position: relative;
  background-color: #7c73d3;
  width: 40%;
  margin: auto;
  margin-top: 70px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  -ms-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  -webkit-box-shadow: 0px 18px 88px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 18px 88px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 18px 88px -1px rgba(0, 0, 0, 0.3); }
  .summary-wrapper span {
    display: block;
    text-align: left;
    color: white; }

.gross-div {
  background-color: #2a2a35;
  margin-top: 41px;
  padding-top: 20px;
  padding-left: 29px;
  padding-right: 30px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 13px 74px 3px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 13px 74px 3px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 13px 74px 3px rgba(0, 0, 0, 0.62); }
  .gross-div .label {
    opacity: 0.3;
    font-size: 14px;
    font-weight: 600; }
  .gross-div .num {
    font-size: 30px;
    margin-left: 7px;
    margin-top: -3px;
    font-weight: 400; }
  .gross-div .col-sm-6:nth-of-type(1) .num {
    margin-left: 5px !important; }
  .gross-div .col-sm-6:nth-of-type(2) {
    padding-left: 34px; }

.net-earnings-div {
  padding-left: 27px; }
  .net-earnings-div .num {
    font-size: 60px; }
  .net-earnings-div .label {
    margin-top: -16px;
    font-size: 14px;
    font-weight: 600;
    margin-left: -7px; }

#net-earnings, #gross, #fees {
  display: inline-block; }

.details-wrapper {
  z-index: 1;
  position: relative;
  background-color: white;
  width: 46%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: auto;
  margin-top: -223px;
  padding-top: 255px;
  padding-left: 35px;
  padding-right: 35px;
  -webkit-box-shadow: 0px 13px 227px 17px rgba(51, 55, 57, 0.32);
  -moz-box-shadow: 0px 13px 227px 17px rgba(51, 55, 57, 0.32);
  box-shadow: 0px 13px 227px 17px rgba(51, 55, 57, 0.32);
  height: 636px; }
  .details-wrapper .col-sm-3 {
    padding-left: 3px;
    padding-right: 3px; }

.tab-menu {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #e9e8ef;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  height: 51px; }
  .tab-menu .row {
    margin-left: 0px;
    margin-right: 0px; }

.tab-item {
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
  color: #999999;
  font-weight: 500;
  height: 41px;
  padding-top: 11px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.tab-item:hover {
  background-color: #f3f3fa; }

.tab-item.active {
  background-color: #e9e8ef;
  color: #666666; }

.table-wrapper {
  padding-left: 14px;
  padding-right: 14px; }

#aux-row {
  position: relative; }

table {
  margin-top: 10px;
  table-layout: fixed;
  width: 116%;
  border-collapse: separate;
  border-spacing: 0 20px; }
  table tr {
    position: relative; }
  table td {
    width: 75px;
    vertical-align: initial;
    color: #666666;
    font-weight: 500;
    height: 40px; }
  table th {
    font-weight: 500;
    color: #999999; }
  table tbody {
    margin-top: 20px; }
  table td:nth-of-type(1) {
    color: #647ef2;
    font-weight: 500;
    font-size: 14px; }
  table tbody:before {
    content: "-";
    display: block;
    line-height: 0em;
    color: transparent;
    margin-top: -10px; }

.double-cell span {
  display: block; }

.vat {
  font-weight: 500;
  color: #b2b2b2; }

/*# sourceMappingURL=main_style.css.map */
