@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,600,500,700);
body {
  font-family: "Poppins";
  background-color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

.main-wrapper {
  background-color: #096cf1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  margin-top: 55px;
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  -webkit-box-shadow: 0px 32px 104px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 32px 104px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 32px 104px 3px rgba(0, 0, 0, 0.5); }

.title-wrapper {
  padding-left: 60px;
  padding-right: 40px; }
  .title-wrapper span {
    display: block;
    color: white; }

.project-name-lbl {
  opacity: 0.45;
  font-weight: 500;
  font-size: 14px; }

.project-name {
  font-size: 36px;
  margin-top: -3px;
  font-weight: 500;
  opacity: 0.94; }

.time-spent-lbl {
  margin-top: 33px;
  opacity: 0.45;
  font-weight: 500; }

.countdown-wrapper {
  background-color: #080808;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 38px;
  padding-top: 25px;
  padding-right: 14px;
  padding-left: 14px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 32px 104px -7px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 32px 104px -7px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 32px 104px -7px rgba(0, 0, 0, 0.9); }

.countdown {
  color: white;
  text-align: center;
  position: relative; }
  .countdown .lbls {
    display: block;
    opacity: 0.3;
    font-weight: 500;
    font-size: 14px;
    margin-top: -18px; }
  .countdown .numbers {
    font-weight: 500;
    font-size: 70px; }

.colons {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  font-size: 35px;
  font-weight: 400;
  opacity: 0.4; }

.controls {
  color: white;
  width: 86%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 13px; }
  .controls .fa {
    cursor: pointer;
    opacity: 0.3;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .controls .fa:hover {
    opacity: 1 !important; }

.fa-stop {
  margin-left: 20px; }

.fa-play {
  position: absolute;
  top: 0px;
  left: -16px; }

.fa-pause {
  position: absolute;
  top: 0px; }

.pause-play {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 15px;
  width: 15px;
  top: 3px; }

.current-session {
  display: inline-block;
  float: right;
  font-weight: 500;
  opacity: 0.35;
  margin-right: -13px;
  font-size: 14px; }

.cs_timer {
  display: inline-block;
  width: 50px; }

.navbar {
  padding-left: 60px;
  padding-top: 56px;
  margin-bottom: 48px; }

.bar {
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: white;
  display: block;
  margin-bottom: 4px;
  opacity: 0.35;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.hamburger {
  cursor: pointer; }

.hamburger:hover .bar {
  opacity: 1; }

/*# sourceMappingURL=main_style.css.map */
